
Hello <%= firstname %> <%= lastname %>


<!DOCTYPE html>
<html>
    <html lang="en">
        <head>
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
                <!-- Compiled and minified JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                <meta charset="utf-8">
                    <link rel="icon" href="i5.png" />
                    <title>Pizza hola</title>
                    <link href="custom.css" rel="stylesheet">
                        </head>
    
    <body style="background-color:#ffcdd2;">
        <div class="row">
            <div class="row">
                <div class="col s3 bbdefb blue lighten-4">pizza  <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                    <i class="material-icons">+</i>
                </a></div>
                <div class="col s3 bbdefb blue lighten-4">snack  <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                    <i class="material-icons">+</i>
                </a></div>
                <div class="col s3 bbdefb blue lighten-4">boisson  <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                    <i class="material-icons">+</i>
                </a></div>
                <div class="col s3 bbdefb blue lighten-4">tout les produits  <a id="scale-demo" href="#!" class="btn-floating btn-small scale-transition">
                    <i class="material-icons">+</i>
                </a></div>
               
              
            </div>
            <div class="col s12 offset-s6"><span class="flow-text">choisir pizza ce que vous voulez </span></div>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="test/javascript" src="js/materialize.min.js"></script>
        <div class="row">
            <div class="col s12 m6">
                <div class="card light-blue lighten-3">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <div class="card-image" >
                            <img src="https://image.afcdn.com/recipe/20151003/20052_w600.jpg"  width="5" height="300" alt="">
                                <div class="card-content white-text">
                                </div>
                                <p>Chicken breast, mushrooms,caramelised onions.</p>
                                </div>
                        <div class="card-action">
                            <a href="https://image.afcdn.com/recipe/20151003/20052_w600.jpg">ohlala</a>
                            <a href="bd.js">ohlala</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card light-blue lighten-3">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <div class="card-image" >
                            <img src="https://image.afcdn.com/recipe/20151003/20052_w600.jpg"  width="5" height="300" alt="">
                                <div class="card-content white-text">
                                </div>
                                <p>Chicken breast, mushrooms,caramelised onions. </p>
                    </div>
                    <div class="card-action">
                        <a href="http://www.googel.com/">ohlala</a>
                        <a href="http://www.googel.com/">ohlala</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card light-blue lighten-3">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <div class="card-image" >
                                <a href="https://image.afcdn.com/recipe/20151003/20052_w600.jpg">
                                <img src="/static/image/test1.jpg"  width="5" height="300" alt="">
                                </a>
                                    <div class="card-content white-text">
                                    </div>
                                    <p>Chicken breast, mushrooms,caramelised onions. </p>
                                    </div>
                            <div class="card-action">
                                <a href="https://image.afcdn.com/recipe/20170105/24149_w420h344c1cx2592cy1728.jpg">ohlala</a>
                                <a href="http://www.googel.com/">ohlala</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card light-blue lighten-3">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <div class="card-image" >
                                    <img src="https://image.afcdn.com/recipe/20170105/24149_w420h344c1cx2592cy1728.jpg"  width="5" height="300" alt="">
                                        <div class="card-content white-text">
                                        </div>
                                        <p>Chicken breast, mushrooms,caramelised onions. </p>
                                        </div>
                                <div class="card-action">
                                    <a href="http://www.googel.com/">ohlala</a>                                   
                                    <a href="http://www.googel.com/">ohlala</a>
                                </div>
                            </div>
                        </div>
                    </div>                 </body>
                    
    </html>
