<%- include('_layout/header'); -%>
<%- include('_layout/head'); -%>




<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

	<header>
	
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is pizzama</h1>
            <h2>pizza </h2>
            `
            <% for(var i=0; i<pizzas.length; i++) { %>
                <h2><img src = 
                   "<%= pizzas[i].image %> ">
                   
                </h2>
                <%= pizzas[i].name %>
            <% } %>

            


            
			<form action="/" method="POST">
        <h1>Welcome sign in</h1>
       login:<br>
       <input type="text" name="nompizza" value="pizzas">
       <br>
       mot de passe:<br>
       <input type="text" name="lastname" value="Usson">
       <br>
       <br>
       <button type="submit">Sign in</button>
       
		</div>
	</main>


	
</body>
</html> 