<!DOCTYPE html>
<html lang="en">
<head>
		
		<%- include('_layout/head'); -%>
</head>
<body class="container">

	<header>
			<%- include('_layout/header'); -%>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<p>This is great</p>
					<p>Welcome to templating using EJS</p>
					
		


</html>

				</div>
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>LOVING IT!</h3>
					<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>欢迎注册!</title>
		<link rel="stylesheet" href="login.css" type="text/css" />
		
    
	</head>

	
		<div id="myDiv" >
			<nav id="myNav">
				<div id="login"></div>
				<div id="register"><p><a href="register.html">注册</a></p></div>
			</nav>
			<form id="myForm">
				<div id="div1"></div>
				<div id="usernameDiv">
					<span class="s">账号：</span>
					<input type="text" id="username" placeholder="请输入账号" />
					<span class="spanStyle" id="usernameSpan">*</span>
				</div>
				
				<div id="passwordDiv">
					<span class="s">密码：</span>
					<input type="password" id="password" placeholder="请输入密码" />
					<span class="spanStyle" id="passwordSpan">*</span>
				</div>
				
				
				
				<div id="submitDiv">
					<input id="user" type="button" value="用户登录" />
					<input id="visitor" type="button" value="游客登录" />
				</div>	
				
    <body>
       
        <input id="text" type="text" />
        <input type="button" value="save" onclick="save();">
        <input type="button" value="read" onclick="read();">
        
        <script type="text/javascript">
            function save() {
                var str = document.getElementById("text").value;
				sessionStorage.setItem("name",str);
				alert("ok");
								
				
            }
            function read() {
				var str = sessionStorage.getItem("name");
				alert(str);
				
			}	
        </script>
    </body>
</html>
			</form>
		</div>
		<script type="text/javascript" src="login.js"></script>
	</body>

</html>
				</div>

			</div>
		</div>
	</main>

	<footer>
			<%- include('_layout/footer'); -%>
	</footer>
	
</body>
</html>