<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pizzima</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Dependencies -->
        <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css"  />
        <link href="/static/styles/main.css" rel="stylesheet">
        <link href="/static/styles/main.css" rel="stylesheet">
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
        
    </head>
    <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
        
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Pizzima</a>
                </div>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">LOGIN</a></li>
                    <li><a href="/sign">SING IN</a></li>
                </ul>
              
            </div>
        </nav>
    <body>
        
    <body>
        
<html>